<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
    <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 form-container">
      <h2 class="title">Reset Password</h2>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">Password is required</div>
          <div *ngIf="form.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
        <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="form.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="form.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
        <div class="input-group form-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" formControlName="password" class="form-control first-input"
            [ngClass]="{ 'is-invalid': submitted && form.password.errors }" placeholder="Password">
          <input type="password" formControlName="confirmPassword" class="form-control second-input"
            [ngClass]="{ 'is-invalid': submitted && form.confirmPassword.errors }" placeholder="Confirm Password">
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-yellow pull-right" value="Login" />
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr />
          </div>
        </div>
        <div class="form-group text-center bottom-box">
          Don't have an account? <a [routerLink]="['/user/register']">Sign Up</a> <br />
          <a [routerLink]="['/user/login']">Go Back to Login</a>
        </div>
      </form>
      <div class="logo-container text-center">
        <h3><span class="glyphicon glyphicon-book"></span> Library</h3>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
  </div>
</div>